# Язык
explain_language = "ru"

# Стоп-лист
stop_list = [
    "rm -rf /",
    "rm -rf /*",
    "dd if=/dev/zero of=/dev/sd",
    ":(){ :|:& };:",
    "chmod -R 777 /",
    "> /dev/sda",
    "mv /* /dev/null",
    "mkfs",
    "fdisk",
]

# Основной бэкенд
[[backends]]
api_url = "https://routerai.ru/api/v1/chat/completions"
api_key = "top-secret-key"  # использовать свой api_key
model = "meta-llama/llama-4-maverick"
timeout_secs = 60

# Запасной бэкенд
[[backends]]
api_url = "https://gptunnel.ru/v1/chat/completions"
api_key = "top-secret-key"  # использовать свой api_key
model = "gpt-4.1-nano"
timeout_secs = 60

# Локальный бэкенд
[[backends]]
api_url = "http://localhost:11434/v1/chat/completions"
api_key = ""
model = "llama3.2:3b"
timeout_secs = 60
